@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Outfit', sans-serif;
}

:root {
  font-family: 'Outfit', sans-serif;
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  /* Prevent scrolling during cinematic experience */
}